<% include ../partials/header %>

<div style="margin-top: 20px;" class="container">
   <div class="row">
       <div class="col-md-5 mx-auto">
            <h1 class="text-center">Create a New Event</h1>
            <div>
                <form action="/events" method="POST">
                    <div class="form-group">
                        <input class="form-control" type="text" name="name" placeholder="Enter new event name" required>
                    </div>
                    <div class="form-group">
                        <label for="category">Category:</label>
                        <select class="form-control" id="category" name="category" required>
                        <%categories.forEach(function(category){%>
                          <option value="<%=category.id%>"><%=category.categoryName%></option>
                        <%});%>
                        </select>
                    </div>
                    <div class="form-group">
                        <div id="locationField">
                          <input class="form-control" id="autocomplete" placeholder="Enter your address" onfocus="geolocate()" type="text" name="location"></input>
                        </div>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="date" name="dateFrom" placeholder="Event begin at" min="<%=moment().format("YYYY-MM-DD")%>" value="<%=moment().format("YYYY-MM-DD")%>" required>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="date" name="dateTo" placeholder="Event ends at (day)" min="<%=moment().format("YYYY-MM-DD")%>" value="<%=moment().add(1,'days').format("YYYY-MM-DD")%>" required>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="image" placeholder="Image url" required>
                    </div>
                    <div class="form-group">
                        <label for="image">Image</label>
                        <input type="file" id="image" name="image2" accept="image/*">
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea class="form-control" id="description" name="description" rows="3" placeholder="Something about your event..." required></textarea>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-md btn-primary btn-block">Submitt!</button>
                    </div>
                </form>
                <a href="/events">Go back</a>
            </div>
        </div>
   </div>
</div>

<table id="address" hidden>
  <tr>
    <td class="label">Street address</td>
    <td class="slimField"><input class="field" id="street_number"
          disabled="true"></input></td>
    <td class="wideField" colspan="2"><input class="field" id="route"
          disabled="true"></input></td>
  </tr>
  <tr>
    <td class="label">City</td>

    <td class="wideField" colspan="3"><input class="field" id="locality"
          disabled="true"></input></td>
  </tr>
  <tr>
    <td class="label">State</td>
    <td class="slimField"><input class="field"
          id="administrative_area_level_1" disabled="true"></input></td>
    <td class="label">Zip code</td>
    <td class="wideField"><input class="field" id="postal_code"
          disabled="true"></input></td>
  </tr>
  <tr>
    <td class="label">Country</td>
    <td class="wideField" colspan="3"><input class="field"
          id="country" disabled="true"></input></td>
  </tr>
</table>



<script src="../js/geocode.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPFj-mGrFrz2EVQwKZFTDGi1PZ7dwDqUE&libraries=places&callback=initAutocomplete"async defer></script>
<% include ../partials/footer %>



