<% include ../partials/header %>

<div class="container mb-4">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">FineParties</p>
            <div class="list-group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </div>
            <div id="map"></div>
        </div>
        <div class="col-md-9">
            <div class="card">
                <img class="card-img-top" src="<%=event.image%>">
                <div class="card-body">
                    <h4 class="card-title d-inline-block"><a href="/events/<%= event.id%>"><%=event.name %></a></h4> 
                    <h4 class="card-title d-inline-block"><%=moment(event.dateFrom).format("ddd, MMMM D, YYYY")%></h4>
                    <p class="card-text"><%=event.description%></p>
                    <p class="font-italic card-text">Organised By <a href="/users/<%= event.author.id %>"><%= event.author.username %></a>, starts <%= moment(event.dateFrom).endOf('day').fromNow() %></p>
                    <% if(currentUser && event.author.id.equals(currentUser._id)|| currentUser && currentUser.isAdmin){ %>
                    <div class="row mx-1">
                        <a class="btn btn-warning m-1" href="/events/<%= event._id %>/edit">Edit</a>
                        <form class="m-1" id="delete-form" action="/events/<%= event.id %>?_method=delete" method="POST">
                            <button class="btn btn-danger">Delete</button> 
                        </form>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>



<script>
function initMap() {
    var lat = <%= event.geometry.coordinates[1] %>;
    var lng = <%= event.geometry.coordinates[0] %>;
    var center = {lat: lat, lng: lng };
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        center: center,
        scrollwheel: false
    });
    var contentString = `
      <strong><%= event.name %><br />
      <%= event.location %></strong>
      <p><%= event.description %></p>
    `
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    var marker = new google.maps.Marker({
        position: center,
        map: map
    });
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPFj-mGrFrz2EVQwKZFTDGi1PZ7dwDqUE&callback=initMap" async defer></script>
<% include ../partials/footer %>