<% include ./partials/header %>

    <div id="slides" class="carousel slide d-none d-sm-block" data-ride="carousel">
      <ul class="carousel-indicators">
        <li data-target="#slides" data-slide-to="0" class="active"></li>
        <li data-target="#slides" data-slide-to="1"></li>
        <li data-target="#slides" data-slide-to="2"></li>
      </ul>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="img/caruselSlide/carusel1.jpg">
        <div class="carousel-caption">
          <h1 class="display-2">Fineparties</h1>
          <h3>Live your life with our events</h3>
          <button type="button" class="btn btn-outline-light btn-lg">Sing in</button>
          <button type="button" class="btn btn-primary btn-lg">Create New</button>
        </div>
      </div>
      <div class="carousel-item">
        <img src="img/caruselSlide/carusel2.jpg">
      </div>
      
      <div class="carousel-item">
        <img src="img/caruselSlide/carusel3.jpg">
      </div>
      
    </div>
    </div>


<div class="container-fluid">
<div class="row jumbotron">
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10 mx-auto">
      <p class="lead text-center">It never was so easy. Type what bring you joy and we`ll find it!</p>
    <div class="row">
        <form action="/show" class="col" method="GET">
        <div class="form-group">
          <div class="input-group">
            <input type="text" class="col-md-6 col-sm-12 form-control" placeholder="Find me" name="event">
            <input class="col-md-3 form-control d-none d-sm-block" id="autocomplete" placeholder="City" onfocus="geolocate()" type="text" name="location">
            <input type="number" class="col-md-3 form-control d-none d-sm-block" placeholder="100 km" name="kmNumber">
            <button class=" btn btn-outline-secondary btn-lg">Find</button>
          </div>
        </div> 
        </form>
    </div>
    </div>  
</div>
</div>
 
 <div class="container-fluid">
    <div class="row mt-3 text-center padding">
      <div class="col-12 padding">
        <h2>Lastest Events</h2>
      </div>
        <% events.forEach(function(events){ %>
         <div class="col-md-4 mb-2 mx-auto event">
           <a href="/events/<%=events._id%>">
            <div class="card bg-dark text-white">
            <%-cloudinary.image(events.cloudId, {width: 572, height: 360, crop:"fill",quality: 80,html_width:null,html_height: null,class:'card-img'})%>
              <div class="card-img-overlay">
                <h5 class="card-title text-center font-weight-bold"><%= events.name %></h5>
                <p class="card-text text-justify">Event begin in <%= moment(events.dateFrom).endOf('day').fromNow() %> and they say: <span class="font-italic"><%= events.description.substr(0,80) %> . . .</span></p>
              </div>
            </div>
            </a>
         </div>
        <% }); %> 
    </div>
</div>

<div class="container-fluid">
  
    <div class="row mt-3">
      
      <div class="col-12 padding text-center">
        <hr class="my-4"> 
        <h2>Category</h2>
      </div>
        <% category.forEach(function(category){ %>
          <div class="col-md-4 mb-2 padding category">
          <div class="curtain"> 
          <a href="/show?event=<%=category.categoryName%>&location=&kmNumber=">
            <div class="card bg-dark text-white text-center">
              <img class="card-img" src="<%= category.imgUrl %>" alt="image">
              <div class="card-img-overlay">
                <h5 class="card-title font-weight-bold"><%= category.categoryName %></h5>
                <p class="card-text"><%= category.somethingAbout %></p>
              </div>
            </div>
         </a>
         </div>
         </div>
        <% }); %> 
    </div>
    <hr class="my-4">
</div>

<div class="container-fluid">
<div class="row text-center padding">
  <div class="col-12">
    <h2>Connect</h2>
  </div>
  <div class="col-12 social">
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-google-plus-g"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-youtube"></i></a>
  </div>
</div>
</div>
















<table id="address" hidden>
  <tr>
    <td class="label">Street address</td>
    <td class="slimField"><input class="field" id="street_number"
          disabled="true"></input></td>
    <td class="wideField" colspan="2"><input class="field" id="route"
          disabled="true"></input></td>
  </tr>
  <tr>
    <td class="label">City</td>

    <td class="wideField" colspan="3"><input class="field" id="locality"
          disabled="true"></input></td>
  </tr>
  <tr>
    <td class="label">State</td>
    <td class="slimField"><input class="field"
          id="administrative_area_level_1" disabled="true"></input></td>
    <td class="label">Zip code</td>
    <td class="wideField"><input class="field" id="postal_code"
          disabled="true"></input></td>
  </tr>
  <tr>
    <td class="label">Country</td>
    <td class="wideField" colspan="3"><input class="field"
          id="country" disabled="true"></input></td>
  </tr>
</table>

<script src="../../js/geocode.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPFj-mGrFrz2EVQwKZFTDGi1PZ7dwDqUE&libraries=places&callback=initAutocomplete"async defer></script>
<% include ./partials/footer %>